<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>User List</title>
</head>

<body>
    <h3 style="text-align: center; margin-top:15px;">Users</h3>
    <div style="text-align:center"><a class="btn btn-secondary" href="/auth/adminLogout" style="margin-top:15px">Log Out</a></div>
    <p style="text-align: center; margin-top:15px">To refresh list, just reload this page.</p>
    <p style="text-align: center; margin-top:15px; font-size:50px">No. of Entries: <strong>{{count}}</strong>
    </p>
    <table class="table table-striped" style="margin:10px 10px 10px 10px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Payment Status</th>
                <th>Event ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.payment_status}}</td>
                <td>{{this.event}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script>
        function confirmDelete(elem, event) {
            event.preventDefault();
            const username = elem.dataset.name;
            const userCheck = prompt(`Enter the username ${username} to confirm.`);
            const id = elem.dataset.id
            if (username === userCheck) {
                window.location = "/admin/delete/" + id;
            } else {
                alert("Username mismatch");
            }
        }
    </script>
</body>

</html>
